<% layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/css/products.css">
  <div class="container mx-auto mt-4">
    <div class="row">
     <% products.forEach(element => { %>
      <div class="col-md-4">
        <div class="card">
             <img src="<%= element.imageUrl%>" alt="<%= element.title%>">
             <div class="card-body">
              <h5 class="card-title"><%= element.title%></h5>
              <h6 class="card-title">Price:$<%=element.price%></h6>
              <p class="card-text"><%= element.description%></p>
              <div class="flexbuttons">
              <a class="btn btn-success" href="/admin/<%=element._id %>/edit">Edit</a>
              <form action="/admin/<%=element._id %>?_method=DELETE" method="post">
                 <button type="submit" class="btn btn-success ">Delete</button>
               </form>
              </div>
            </div>
          </div>
          </div>
        <% }) %>
