<% layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/css/cart.css">
<div class="container top ">
          <h1 class="top mx-3"> Happy to see you <%= findUser.username%></h1>
          <a href="/checkout/<%=findUser._id%>" class="btn btn-success top mx-3">Peoceed to checkout</a>
        </div>
    <div class="container">
  <div class="row">
     <% findUser.cart.forEach(element => { %>
      <div class="col-4 md-6 mb-3">
        <div class="card borde border-dark m-0 rounded bg-dark text-white">
          <img class="card-img-top" src="<%= element.imageUrl%>" alt="">
          <div class="card-body">
            <h5 class="card-title mx-3 text-danger "><%= element.title%></h5>
            <h5 class="card-title mx-3 text-success">Price:$<%=element.price%></h5>
            <p class="card-text"><%= element.description%></p>
              <form action="/user/<%=findUser._id%>/product/<%=element._id%>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-danger">Remove</button>
              </form>
        </div>
      </div>
    </div>
    <% }) %>
    
    
   