<% layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/css/homepage.css">
  <div class="container mx-auto mt-4">
    <div class="row">
     <% cartArray.forEach(element => { %>
      <div class="col-md-4">
        <div class="card">
             <img src="<%= element.imageUrl%>" alt="<%= element.title%>">
             <div class="card-body">
              <h5 class="card-title"><%= element.title%></h5>
              <h6 class="card-title">Price:$<%=element.price%></h6>
              <p class="card-text"><%= element.description%></p>
              <form action="/<%=element._id%>/add-to-cart" method="post">
                 <button type="submit" class="btn ">Add to Cart</button>
               </form>
            </div>
          </div>
          </div>
        <% }) %>
        